@import '../../styles/variables.scss';

.title {
  padding: 20px;
  text-align: justify;

}

@media screen and (max-width: $display-laptop) {
  .title {
    padding: 10px;
    font-size: .8rem;
  }
}

@media screen and (max-width: $display-mobile) {
  .title {
    padding: 5px;
  }
}