$main-blue: #2364af;
$main-yelloy: #f99e15;
$main-white: #ffffff;
$main-lgray: #f4f5f9;
<<<<<<< HEAD

$display-desktop: 1100px;
$display-laptop: 900px;
$display-mobile: 650px;
=======
$main-black: #000000;
>>>>>>> 3a3d4fe (feat: complete header)
