$main-blue: #2364af;
$main-dblue: #003674;
$main-yelloy: #f99e15;
$main-white: #ffffff;
$main-lgray: #f4f5f9;
$main-gray: #898686;
$main-lblue: #d3e8ed;
$main-black: #000000;
$main-dgray: #2d2d32;
$display-desktop: 1100px;
$display-laptop: 900px;
$display-mobile: 650px;

