@import '../../../styles/variables.scss';

.repair_info {
  padding: 10px 30px;

  .repair_info_white {
    h2 {}

    p {}
  }

  .repair_info_blue {
    padding: 10px;
    width: 80%;
    border-radius: 0 40px 40px 0;
    background: rgb(13, 88, 158);
    background: linear-gradient(0deg, rgb(18, 64, 107) 0%, rgb(21, 84, 161) 100%);

    h4,
    p {
      color: $main-white;
      margin: 5px 0;
    }

  }
}

@media screen and (max-width: 750px) {  

  .repair_info {
    padding: 10px 0px;
  
    .repair_info_white {
      h2,p {
        margin: 5px 0;
        text-align: center;
      }

      p {
        text-align: justify;
        font-size: .7rem;
      }
    }
  
    .repair_info_blue {
      padding: 10px;
      width: auto;
      border-radius: 0 40px 0 40px;
  
      h4,
      p {
        color: $main-white;
        margin: 5px 0;
      }
  
    }
  }

}