@import "../../styles/variables.scss";

.header_wrapper {
  background: $main-white;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 10px 20px 0px rgba(0, 71, 126, 0.1);

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 160px;
    position: relative;
    height: 100px;
  }
}

@media screen and (max-width: 1260px) {

  .header_wrapper {
    .header {
      padding-left: 0;
      padding-right: 60px;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 700px) {

  .header_wrapper {
    .header {
      height: 110px;
      padding: 0 10px 10px;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-end;
      row-gap: 15px;
    }
  }
}