.header_firm_info {
  list-style-type: none;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  user-select: none;

  li {
    margin: 0 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;

    img {
      margin: 0 3px;
      width: 16px;
      height: auto;;
    }

    span {
      font-size: .7rem;
    }
  }
}

@media screen and (max-width: 1260px) {
  .header_firm_info {

    flex: 1 1 auto;
    margin: 0;
    padding: 0 0 20px 10px;
    align-self: flex-end;
    justify-content: flex-start;

    li:nth-child(n+2) {
      display: none;
    }
  }
}


@media screen and (max-width: 750px) {

  .header_firm_info {
    padding: 0;
  
    li {

  
      img {

      }
  
      span {
        width: 97px;
      }
    }
  }


}