.header_firm_info {
  list-style-type: none;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  user-select: none;

  li {
    margin: 0 10px;
    display: flex;
    align-items: center;

    img {
      margin: 0 3px;
    }

    span {
      font-size: .7rem;
    }
  }
}

@media screen and (max-width: 1260px) {
  .header_firm_info {
  
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    justify-content: flex-start;
    padding-bottom: 20px;


    
    li:nth-child(n+2) {
      display: none;
    }
  }
}


@media screen and (max-width: 700px) {
  
  .header_firm_info {
  
    span {
      width: 97px;
    }
    
  }
}