@import '../../styles/variables.scss';

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .title {
        font-size: 1.625rem;
        line-height: 2.125rem;
        font-weight: 600;
    }
    .list_ul {
        display: flex;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        border: 1px $main-lblue solid;
        background: $main-white;
        border-radius: 0 32px 0 32px;
        .list_li {
            display: flex;
            flex-direction: column;
            padding: 32px;
            text-align: center;
            align-items: center;
            width: 25%;
            .list_title {
                font-weight: 600;
                padding: 0;
            }
            .list_desc {
                margin-top: 4px;
                color: #898686;
            }
        }
    }
}